<!DOCTYPE html>
<html>
<title>MUTASI ASSET</title>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/homeStyle.css">
</head>
<body>

    <!-- Header -->
    <div class="header">
        <div class="header-left">
            <div class="header-icon">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 3h22v5H1zM3 10h2v11H3zM19 10h2v11h-2zM10 10h4v7h-4z"/>
                </svg>
            </div>
            <div>
                <h1>Mutasi Asset</h1>
                <p>Warehouse Management System</p>
            </div>
        </div>
        <a href="/data/tables" class="btn-table">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M3 3h18v18H3V3zm2 2v4h14V5H5zm0 6v4h14v-4H5zm0 6v2h14v-2H5z"/>
            </svg>
            Lihat Tabel Data
        </a>
    </div>

    <!-- Main -->
    <div class="main">

        <!-- Tab buttons -->
        <div class="tab-menu">
            <button class="tab-btn active" onclick="openTab(event, 'IN')">IN</button>
            <button class="tab-btn" onclick="openTab(event, 'OUT')">OUT</button>
            <button class="tab-btn" onclick="openTab(event, 'Service')">Service</button>
            
        </div>

        <!-- IN -->
        <div id="IN" class="tabcontent" style="display: block;">
            <h2>Barang Masuk</h2>
            <p>Pencatatan Barang Masuk</p>

            <form action="/add_type" method="POST" class="add-type-form">
                <input type="text" name="add_type" id="add_type" placeholder="Tambah tipe baru...">
                <input type="submit" value="+ ADD TYPE">
            </form>


            <div class="grid-container">
                <form action="/submit" method="POST">
                    <div class="radio-container">
                        <div>
                            <!-- TO BE A REPORT FOR ITEM IN -->
                        </div>
                        <div class="radio-group field-full">
                            <p>Status Barang:</p>
                            <label class="radio-option">
                                <input type="radio" id="statusNormal" name="statusBarang" value="Normal" checked>
                                <span>Normal</span>
                            </label>
                            <label class="radio-option">
                                <input type="radio" id="statusPR" name="statusBarang" value="Perlu PR">
                                <span>Perlu PR</span>
                            </label>
                        </div>
                    </div>

                    <div class="field">
                        <div class="field">
                            <label for="usernamein">Nama</label>
                            <input type="text" id="usernamein" name="usernamein" required>
                        </div>
                        <div class="field">
                            <label for="serialin">Nomor Serial</label>
                            <input type="text" id="serialin" name="serialin" required>
                        </div>
                        <div class="field">
                            <label for="storein">Nama Toko Tercantum</label>
                            <input type="text" id="storein" name="storein" required>
                        </div>
                        <div class="field">
                            <label for="where_from">Lokasi Sebelumnya</label>
                            <input type="text" id="where_from" name="where_from" required>
                        </div>
                        <div class="field">
                            <label for="item">Tipe Barang</label>

                            <select name="item" id="item" required>
                                <option value="">--Pilih tipe--</option>
                                {% for type in data_asset %}
                                    <option value="{{type[0]}}">{{type[0]}}</option>
                                {% endfor %}
                            </select>
                            <button type="button" class="rmvbutton" id="rmvBtn" onclick="removebtn()" formnovalidate>- REMOVE TYPE</button>
                        </div>
                        <div class="field-full" style="padding-top: 10px;">
                            <label for="commentin">Info:</label>
                            <textarea id="commentin" name="commentin" rows="4" placeholder="Keterangan barang..." ></textarea>
                        </div>
                        <div class="submit-wrap">
                            <input type="submit" value="SUBMIT BARANG MASUK">
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <!-- OUT -->
        <div id="OUT" class="tabcontent" style="display: none;">
            <h2>Barang Keluar</h2>
            <p>Pencatatan Barang Keluar</p>
            <div class="grid-container">
                <form action="/out_item" method="POST">
                    <div class="radio-container">
                        <div>
                            <!-- TO BE A REPORT FOR ITEM OUT -->
                        </div>
                        <p>Status Mutasi:</p>
                        <div class="radio-group">
                            
                            <label class="radio-option">
                                <input type="radio" id="statusMutasi" name="statusMutasi" value="Mutasi" checked>
                                <span>Mutasi</span>
                            </label>
                            <label class="radio-option">
                                <input type="radio" id="statusPinjam" name="statusMutasi" value="Pinjam">
                                <span>Pinjam</span>
                            </label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="field">
                            <label for="usernameout">Nama</label>
                            <input type="text" id="usernameout" name="usernameout" required>
                        </div>
                        <div class="field">
                            <label for="serialout">Nomor Serial</label>
                            <input type="text" id="serialout" name="serialout" required>
                        </div>
                        <div class="field-full">
                            <label for="storeout">Toko Tujuan</label>
                            <input type="text" id="storeout" name="storeout" required>
                        </div>
                        <div class="field-full">
                            <label for="commentout">Info</label>
                            <textarea id="commentout" name="commentout" rows="4" placeholder="Keterangan barang..." required></textarea>
                        </div>
                        <div class="submit-wrap">
                            <input type="submit" value="SUBMIT BARANG KELUAR">
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Service -->
        <div id="Service" class="tabcontent" style="display: none;">
            <h2>Service</h2>
            <p>Pencatatan Perbaikan Barang</p>
            <div class="grid-container">
                <form action="/service" method="POST">
                    <div class="field">
                        <label for="usernameservice">Nama</label>
                        <input type="text" id="usernameservice" name="usernameservice" required>
                    </div>
                    <div class="field">
                        <label for="serialservice">Nomor Serial</label>
                        <input type="text" id="serialservice" name="serialservice" required>
                    </div>
                    <div class="field-full">
                        <label for="commentservice">Info</label>
                        <textarea id="commentservice" name="commentservice" rows="4" placeholder="Keterangan perbaikan..." required></textarea>
                    </div>
                    <div class="submit-wrap">
                        <input type="submit" value="SUBMIT SERVICE">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="flashes">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="container mt-3">
                    {% for category, message in messages %}
                        <!-- Map Flask categories to Bootstrap alert types (e.g., error -> danger) -->
                        {% set alert_type = 'danger' if category == 'error' else category %}
                        
                        <div class="alert alert-{{ alert_type }} alert-dismissible fade show" role="alert">
                            {{category, message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>

    <script>

        document.querySelectorAll('.tabcontent').forEach(el => el.style.display = 'none');
        document.querySelectorAll('.tab-btn').forEach(el => el.classList.remove('active'));
        document.getElementById('{{tab}}').style.display = 'block';

        
        function removebtn(){
            const type = document.getElementById("item").value;
            fetch("/remove_type", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    type: type
                })
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                window.location.reload();
            });         
        }

        function openTab(evt, tabName) {
            var i, tabcontent;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            var tabbtn = document.getElementsByClassName("tab-btn");
            for (i = 0; i < tabbtn.length; i++) {
                tabbtn[i].classList.remove("active");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.classList.add("active");
        }

    </script>

</body>
</html>